html {
    background-color: black;
}
h1 {
    color: white;
    background-color: black;
    font-family: "Libre Baskerville", serif;
    
    text-align: center;
    text-transform: uppercase;
}

img {
    border: 5px, solid, white;
    height: 500px;
    width: 100%;
}

.note
{
    
    text-align: center;
    width: 50%;
    margin-left: 25%;
    color: white;
}